nanowrimo.tex
##MacOS
.DS_store


#other stuff
_minted-thesis/
_minted-zest/
_minted-frigo/
lib/
misc/
nohup.out
.Rhistory
outputPNG/

### automatically created
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.run.xml
thesis.toc
thesis.glg
thesis.glo
thesis.gls
thesis.xdy
thesis.html
thesis.fdb_latexmk
thesis.fls
thesis.xdv


*.aux
*.xdv
*.swp
*.swo
*.svg
*.pdf
*.log


## appendix
app/*.txt
#app/*.aux

# gfx
gfx/integration/*.txt
gfx/integration/*.pptx
gfx/integration/tobeFixed/
gfx/integration/cleanup-later
gfx/ppt/
gfx/integration/barPlotunique5grey.png
gfx/integration/expressedNotExp.png

gfx/**/**/*pptx
gfx/inkscape/*

gfx/**/.Rhistory

## frigo
frigo*
old-integration.tex


## zest
zest*
